Subject: Late submission for inject {{ inject_number }}
Hello Team {{ team_number }},

It appears that you submitted inject {{ inject_number }} late.
This inject will not be graded.
Please make sure you email your injects on time.
Contact white team if you have any questions.
Thank you,

Inject Team
