Subject: NEW INJECT: Inject {{ inject_number }}

{{ inject_body }}

To submit this inject, email {{ submission_email }} with the following subject line:

    Team {{ team_number }}: Inject {{ inject_number }}

Thank you,
Inject Team
