Subject: Unknown submission "{{ inject_submission }}"

Hello,

It appears that you submitted an inject titled "{{ inject_submission }}".

Either this inject does not follow the correct format, or this inject does not exist. Please submit
your injects with the following subject line format:

    Team 0: Inject 1.1

If your submission is in the correct format, make sure that the inject number is correct. 

Please contact white team if you have any questions.

Thank you,

Inject Team
