Subject: Submission for inject {{ inject_number }}
Hello Team {{ team_number }},

We have received your submission for inject {{ inject_number }}.
This inject will be graded.
Contact white team if you have any questions.
Thank you,

Inject Team
