Subject: Submission for inject {{ inject_number }}
Hello Team {{ team_number }},

We have received your submission for inject {{ inject_name }}.
This inject will be graded.

Congratulations! You have completed all the injects in this inject
tree. Watch your inbox for the next major inject to complete.

Contact white team if you have any questions.
Thank you,

Inject Team
